.next{
  font-size: 30px;
}

ion-toggle {
  float: right;
}

ion-range {
  padding-left: 0;
  padding-right: 0;
}


.offset-value {
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
}

.gauge-wrapper {
  z-index: 100;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(244, 244, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (prefers-color-scheme: dark) {
 .gauge-wrapper {
   background-color: var(--ion-color-step-100);
 }
}

.spacer {
  height: 200px;
}

