.next{
  font-size: 30px;
}

ion-toggle {
  float: right;
}

ion-range {
  padding-left: 0;
  padding-right: 0;
}


.offset-value {
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
}

.gauge-wrapper {
  z-index: 100;
  bottom: 84px;
  position: fixed;
  width: 100%;
  background-color: rgb(244, 244, 244, 0.86);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px -2px 50px -22px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -2px 50px -22px rgba(0,0,0,0.5);
  box-shadow: 0px -2px 50px -22px rgba(0,0,0,0.5);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media (prefers-color-scheme: dark) {
 .gauge-wrapper {
   background-color: rgba(26,26,26,0.86);
 }
}

.spacer {
  height: 150px;
}

