<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Reduce
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="tips">
        <h1>Top tips to reduce your carbon footprint</h1>
        <p>We analysed your transactions and tailored some useful tips to reduce your carbon emissions.</p>
    </div>

    <ion-card *ngFor="let tip of reductionTips | async">
        <ion-card-title class="tip-title">{{tip.name}}</ion-card-title>
        <ion-card-content class="card-content">
            <div class="container">
                <div id="activeBorder" class="active-border"
                [ngStyle]="{'background-image': gradient(tip)}">
                    <div id="circle" class="circle">
                        <div>
                            <div class="icon" [ngClass]="icon(tip.proportion.category)"></div>
                            <p>{{tip.proportion.percentage | number: '1.0-0'}}%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tip">
                <p>You could save <b class="saved">{{tip.tonsSaved}} tons of CO2</b> per year and <b>{{tip.dollarsSaved}} CHF</b></p>
                <p>Upfront costs: <b>{{tip.upfrontCosts}} CHF</b></p>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
