<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Reduce
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="tips">
        <h1>Top tips to reduce your footprint</h1>
        <p>We analysed your transactions and tailored some useful tips to reduce your carbon emissions</p>
        <div>
            <ion-card *ngFor="let tip of reductionTips | async">
                <ion-card-title class="tip-title"><b>{{tip.name}}</b></ion-card-title>
                <ion-card-content>
                    <p>You could save <b class="saved">{{tip.tonsSaved}} tons of CO2</b> per year and <b>{{tip.dollarsSaved}} $</b></p>
                    <p>Investment costs: <b>{{tip.upfrontCosts}}$</b></p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
