<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Reduce your carbon footprint
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="tips">
        <h1>Top tips to reduce your footprint</h1>
        <p>We analysed your transactions and tailored some useful tips to reduce cut your carbon emissions</p>
        <div>
            <ion-card *ngFor="let tip of reductionTips | async">
                <ion-card-title class="tip-title"><b>{{tip.name}}</b></ion-card-title>
                <ion-card-content>
                    <p>You could save: {{tip.tonsSaved}} Tons of CO2 per year and {{tip.dollarsSaved}} $</p>
                    <p>You would need to invest: {{tip.upfrontCosts}} $</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
