
.tips {
  padding-left: 16px;
  padding-right: 16px;
}
.tip-title {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.saved {
  color: #28ba62;
}

p {
  color: var(--font-color);
}