
.tips {
  padding-left: 16px;
  padding-right: 16px;
}

.tip-title {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.saved {
  color: #28ba62;
}

p {
  color: var(--font-color);
}

.category-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-right: 1.6rem;

}

.card-content {
  display: flex;
}

.container{
  display: block;
  width: 55px;
  height: 55px;
  margin-right: 20px;
}
.prec{
  top: 30px;
  position: relative;
  font-size: 30px;
}

.circle{
  position: relative;
  top: 5px;
  left: 5px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-border{
  position: relative;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;

  background-color:#28ba62;



}
