.icon {
  font-size: 25px;
  margin-right: 10px;
}

.co2-emission {
  text-align: right;
}

.small {
  font-size: 10px;
  line-height: 1.8;
}

.chart-wrapper {
  margin-left: -17px;
  margin-right: -17px;
}

.carbon-total {
    text-align: center;
    font-size: 40px;
}

.emission-label {
  display: flex;

}

.card-title {
  text-align: center;
}
