.icon {
  font-size: 25px;
  margin-right: 10px;
}

.co2-emission {
  text-align: right;
}

.small {
  font-size: 10px;
  line-height: 1.8;
}

.chart-wrapper {
  margin-left: -17px;
  margin-right: -17px;
}

.carbon-total {
    text-align: center;
    font-size: 30px;
  padding-top: 15px;
}

.carbon-total-timeframe {
  margin-top: 5px;
  text-align: center;
  font-size: 9px;
  padding-bottom: 15px;

}

.emission-label {
  display: flex;

}

.card-title {
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
